
@{
    ViewBag.Title = ViewBag.SystemTitle;
    Layout = "~/Views/Shared/_Layouts.cshtml";
    ViewBag.MetaKeyword = ViewBag.SystemKeyword;
    ViewBag.MetaDescription = ViewBag.SystemDescription;
}
<div id="slider" class="clearfix">
  <div id="slide-left" class="flexslider span8">
    <ul class="slides">
      @foreach (var item in (IEnumerable<TEDU.Web.ViewModels.PostViewModel>)ViewBag.SlideNews)
      {
        var url = item.Category.Alias + "/" + item.Alias + "-" + item.ID + ".html";

          <li data-thumb="@item.Image">
            <a href="@url" title="@item.Name" rel="bookmark">
              <img width="546" height="291" src="@item.Image" alt="@item.Name" />
            </a>
            <div class="entry">
              <h4>@item.Name</h4>
              <p>@item.Description</p>
            </div>
          </li>
      }


    </ul>
  </div>

  <div id="slide-right" class="span4">
    <h3>Tin mới nhất</h3>
    <ul>
      @foreach (var item in (IEnumerable<TEDU.Web.ViewModels.PostViewModel>)ViewBag.FocusNews)
      {
        var url = item.Category.Alias + "/" + item.Alias + "-" + item.ID + ".html";
          <li>
            <a href="@url" title="@item.Name" rel="bookmark">
              <h4 class="post-title">@item.Name</h4>
            </a>
          </li>
      }
    </ul><div class="clear"></div>
  </div>
</div>

@foreach (var item in (IEnumerable<TEDU.Web.ViewModels.CategoryViewModel>)ViewBag.HomeCates)
{
  var newsItems = item.Posts;
    <div id="home-bottom" class="clearfix">
      <h3 class="title"><a href="@(item.Alias).html" title="Fashion News"><span>@item.Name</span></a></h3>
      <div class="row-fluid">
        @if (item.Posts.Count() > 0)
        {
          var firstPost = item.Posts.First();
          var url = firstPost.Category.Alias + "/" + firstPost.Alias + "-" + firstPost.ID + ".html";

            <div class="span6">
              <article class="post">
                <a class="image_thumb_zoom" href="@url" title="@firstPost.Name" rel="bookmark">
                  <img width="371" height="177" src="@firstPost.Image" alt="" />
                </a>
                <h4 class="post-title">
                  <a href="@url" title="@firstPost.Name" rel="bookmark">@firstPost.Name</a>
                  <span class="date">@(firstPost.CreatedDate.HasValue ? firstPost.CreatedDate.Value.ToString("dd/MM/yyyy") : "")</span>
                </h4>
                <p>@firstPost.Description</p>
              </article>
            </div>
        }

        @if (item.Posts.Count() > 1)
        {
            <div class="span6">
              @for (var i = 1; i < item.Posts.Count(); i++)
              {
                var post = item.Posts[i];
                var url = post.Category.Alias + "/" + post.Alias + "-" + post.ID + ".html";


                  <article class="post">
                    <div class="entry clearfix">
                      <a href="@url" title="@post.Name" rel="bookmark">
                        <img width="225" height="136" src="@post.Image" class="thumb" alt="@post.Name" />
                        <h4 class="post-title">@post.Name</h4>
                      </a>
                      <p>@post.Description</p>
                      <div class="meta">
                        <span class="date">@(post.CreatedDate.HasValue ? post.CreatedDate.Value.ToString("dd/MM/yyyy") : "")</span>
                      </div>
                    </div>
                  </article>
              }
              <div class="clearfix"></div>
            </div>

        }

      </div>
    </div>

}
