@model TEDU.Web.ViewModels.PostViewModel
@{
    ViewBag.Title = Model.Name;
    ViewBag.MetaKeyword = Model.MetaKeyword;
    ViewBag.MetaDescription = Model.MetaDescription;
    Layout = "~/Views/Shared/_Layouts.cshtml";
}
<article class="post">
  <h2 class="entry-title">
    <span class="the_title">@Model.Name</span>
    <span class="entry-cat"><a href="/@(Model.Category.Alias+"-"+@Model.Category.ID).html" title="@Model.Category.Name" rel="category tag">@Model.Category.Name</a></span>
  </h2>
  <div class="entry-meta row-fluid">
    <ul class="clearfix">
      <li><a href="#" title="Posts by Admin" rel="author">Admin</a></li>
      <li><img src="/Content/client/images/time.png" alt="">@(Model.CreatedDate.HasValue ? Model.CreatedDate.Value.ToString("dd/MM/yyyy") : "")</li>
      <li><img src="/Content/client/images/view-bg.png" alt="">@(Model.ViewCount.HasValue ? Model.ViewCount.Value.ToString("N0") + " lượt xem" : "Chưa có lượt xem nào") </li>
      @*<li><img src="/Content/client/images/komen.png" alt=""><a href="#" title="Comment on Donec consectetuer ligula vulputate sem tristique cursus">0 Comment</a></li>*@
      <li class="tagz">
        <img src="/Content/client/images/tags-icon.png" alt="">
        @{
            var tags = (List<TEDU.Web.ViewModels.TagViewModel>)ViewBag.Tags;
        }
        @for (int i = 0; i < tags.Count; i++)
        {
            <a href="/tag/@(tags[i].ID).html" rel="tag">@tags[i].Name</a>
          if (i < tags.Count)
          {
                <span>,</span>
          }
        }
        <br />
      </li>
    </ul>
  </div>
  <div class="entry-content">
    @*<p><img width="774" height="320" src="images/thumb_770x364.png" alt="" /></p>*@
    @Html.Raw(Model.Content)

    <div class="clear"></div>
    @if (!string.IsNullOrEmpty(Model.Source))
    {
        <p>Trích nguồn từ: (@Model.Source)</p>
    }
    <div class="other-posts">
      Tin liên quan:
      <ul>
        @foreach (var item in (List<TEDU.Web.ViewModels.PostViewModel>)ViewBag.RelatedPosts)
        {
            <li><a href="/@item.Category.Alias/@item.Alias-@(item.ID).html" title="@item.Name">@item.Name</a></li>
        }
      </ul>
    </div>
  </div>
</article>
