<div id="tabwidget" class="widget tab-container">
  <ul id="tabnav" class="clearfix">
    <li><h3><a href="#tab1" class="selected"><img src="/Content/client/images/view-white-bg.png" alt="Popular">Đọc nhiều</a></h3></li>
    <li><h3><a href="#tab2"><img src="/Content/client/images/time-white.png" alt="Recent">Mới đăng</a></h3></li>
    <li><h3><a href="#tab3"><img src="/Content/client/images/komen-putih.png" alt="Comments">Bình luận</a></h3></li>
  </ul>

  <div id="tab-content">

    <div id="tab1" style="display: block; ">
      <ul id="itemContainer" class="recent-tab">
        @foreach (var item in (IEnumerable<TEDU.Web.ViewModels.PostViewModel>)ViewBag.Popular)
        {
          var url = "/" + item.Alias + "-" + item.ID + ".html";
            <li>
              <a href="@url"><img width="225" height="136" src="@item.Image" class="thumb" alt="@item.Name" /></a>
              <h4 class="post-title"><a href="@url">@item.Name</a></h4>
              <p>@item.Description</p>
              <div class="clearfix"></div>
            </li>
        }
       

        <script type="text/javascript">
                    jQuery(document).ready(function ($) {

                      /* initiate the plugin */
                      $("div.holder").jPages({
                        containerID: "itemContainer",
                        perPage: 3,
                        startPage: 1,
                        startRange: 1,
                        links: "blank"
                      });
                    });
        </script>

      </ul>

      <div class="holder clearfix"></div>
      <div class="clear"></div>

      <!-- End most viewed post -->

    </div><!-- /#tab1 -->

    <div id="tab2" style="display: none;">
      <ul id="itemContainer2" class="recent-tab">
        @foreach (var item in (IEnumerable<TEDU.Web.ViewModels.PostViewModel>)ViewBag.RecentPosts)
        {
          var url = "/" + item.Alias + "-" + item.ID + ".html";
            <li>
              <a href="@url"><img width="225" height="136" src="@item.Image" class="thumb" alt="@item.Name" /></a>
              <h4 class="post-title"><a href="@url">@item.Name</a></h4>
              <p>@item.Description</p>
              <div class="clearfix"></div>
            </li>
        }
      </ul>
    </div><!-- /#tab2 -->

    <div id="tab3" style="display: none; ">
      <ul>
        <li><span class="author">Magazine Author</span> on <a href="#" title="View comment">Lorem Ipsum is simply dummy te</a></li>
        <li><span class="author">Magazine Author</span> on <a href="#" title="View comment">Lorem Ipsum is simply dummy te</a></li>
        <li><span class="author">magazine</span> on <a href="#" title="View comment">This is threaded comment level</a></li>
        <li><span class="author">magazine</span> on <a href="#" title="View comment">This is threaded comment syste</a></li>
      </ul>
    </div><!-- /#tab2 -->

  </div><!-- /#tab-content -->

</div><!-- /#tab-widget -->
